# Python
__pycache__/
*.pyc
*.pyo

# Environments
.env
.env.*
*.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Upload folders
uploads/
chroma_db/

# Streamlit cache
.streamlit/

# Logs
*.log
